/*-----------------------------------------
-----------------INDHOLD------------------*/
.solcreme{
    text-align: center;
}

.solcreme_sport{
    width: 40%;
}

.sport_billede{
    width: 90%;
    margin-left: 5%;
}

.sol_info{
    margin-left: 20%;
    margin-right: 20%;
}

.knap3:hover{
    background-color: #DD8E46;
}

/*-----------------------------------------
---------------MEDIA----------------------*/
/*=============================================================================================
=========================================   MOBIL   ==========================================
=============================================================================================*/

@media screen and (max-width: 767px) {
    .sol_info{
        display: none;
    }
}
/*=============================================================================================
=========================================   TABLET   ==========================================
=============================================================================================*/

@media screen and (min-width: 768px)and (max-width:1023px) {

/*-----------------------------------------------------
INDHOLD
-----------------------------------------------------*/
.solcreme{
    font-size: x-large;
}

.sol_info{
    display: none;
}
}

/*=============================================================================================
========================================   COMPUTER   =========================================
=============================================================================================*/

@media screen and (min-width: 1024px) {
/*-----------------------------------------------------
INDHOLD
-----------------------------------------------------*/
.sport_billede{
    width: 50%;
    margin-left: 25%;
}

.solcreme{
    font-size: medium;
}

.solcreme_sport{
    width: 12%;
}

.knap3{
    display: none;
}

.sol_info{
    text-align: center;
}




    







}