/*-----------------------------------------
-------------------STARTEN---------------*/
.uv_typer{
    display: flex;
    flex-direction: column;
    text-align: center;

}

/*-----------------------------------------
--------------------INDHOLD---------------*/
.boksene{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    border-style: solid;
    border-width: thin;
    border-color: black;
    background-color: #DD8E46;
    text-align: center;
}

.indholdet_u{
    margin-left: 5%;
    margin-right: 5%;
}

/*-----------------------------------------
---------------MEDIA----------------------*/
/*=============================================================================================
=========================================   TABLET   ==========================================
=============================================================================================*/

@media screen and (min-width: 768px) {
   .indholdet_u{
    font-size: x-large;
   }
}


/*=============================================================================================
========================================   COMPUTER   =========================================
=============================================================================================*/

@media screen and (min-width: 1024px) {
    .boksene{
        margin-left: 20%;
        margin-right: 20%;
    }

    .indholdet_u{
        text-align: center;
        margin-top: 5%;
        font-size: medium;
    }
}
